@import '../../../styles/base';

.AdminCreateEvent {
    position: relative;
}

.CreateEvent--error {
    @extend %Error--text;

    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}
