@import '../../../styles/base.scss';

.EventDetail {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.EventDetail--Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $base-margin;
}

.EventDetail--Tabs {
    display: flex;
    flex-direction: row;

    @include up-to-tablet {
        flex-direction: column;
    }
}

.EventDetail--Tab {
    padding: $base-margin;
    margin: 0 1px;
    background: rgba($snow, 0.05);
    cursor: pointer;

    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid transparent;

    &.active {
        border-bottom-color: $turquoise;
        .EventDetail--Tab_text {
            opacity: 1;
        }

        @include up-to-tablet {
            background: $turquoise;
            .EventDetail--Tab_text {
                color: $black;
            }
        }
    }
}

.EventDetail--Tab_text {
    color: $snow;
    font-size: $fs-base;
    opacity: 0.75;
}

.EventDetail--Content {
    margin-top: $base-margin;
    margin-bottom: $base-margin;
}

.EventDetail--Loading {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

    &_title {
        text-align: center;
    }

    &_subtitle {
        text-align: center;
    }

    &_spinner {
        color: $turquoise;
        margin-bottom: 30px;
    }
}

.EventDetail--Error {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

    &_title {
        text-align: center;
    }

    &_subtitle {
        text-align: center;
    }

    &_icon {
        color: $warning;
        margin-bottom: 30px;
    }
}

.EventDetail--TabHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px 0;

    &.loading {
        .EventDetail--TabHeader_spinner {
            opacity: 1;
        }
    }
}

.EventDetail--TabHeader_spinner {
    color: $turquoise;
    opacity: 0;
    transition: all 0.3s ease;
}

.EventDetail--input {
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba($snow, 0.2);
    padding-left: $base-margin;
    padding-right: $base-margin;
    text-align: center;
    transition: all 0.3s ease;

    &:focus {
        border-bottom-color: $turquoise;
        outline: none;
    }

    &.hide {
        opacity: 0;
    }
}

.EventDetail--TabActions {
    display: flex;
    flex-direction: row;
}

.EventDetail--TabAction {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    cursor: pointer;
    margin: 0 $double-margin;

    &_icon {
        color: $snow;
    }

    &_name {
        color: $snow;
        margin-left: $base-margin;
        user-select: none;
    }

    &:hover {
        .EventDetail--TabAction_name,
        .EventDetail--TabAction_icon {
            color: $spring-bud;
        }
    }
}

.EventDetail--Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: rgba($black, 0.8);
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

}

.EventDetail--Overlay_close {
    position: absolute;
    top: 0;
    right: 0;
    padding: $base-margin;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    span,
    i {
      color: $snow;  
    }

    span {
        margin-right: $base-margin;
    }
}

.EventDetail--Overlay_content {
    background: $snow;
    flex: 1;
}