@import '../../../styles/base.scss';

$animation-time: 0.5s;

.Vote--Wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.Vote--Top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    opacity: 1;
    transition: all 0.3s ease;

    &_title {
        text-align: center;
        margin: 0;
    }

    &_text {
        text-align: center;
    }

    &.loading {
        opacity: 0;
    }
}

.Vote--Content {
    flex: 1;
    padding: $base-margin 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    overflow: hidden;

    .Vote--Message {
        flex: 1;
        text-align: center;
        padding: $base-margin;
    }

    .Vote--Previous {
        flex: 1;
        display: flex;
        flex-direction: column;
        transition: all $animation-time ease;
        max-height: 50%;
    }

    .Vote--Current {
        flex: 1;
        display: flex;
        flex-direction: column;
        transition: all $animation-time ease;
        max-height: 50%;
    }

    &.hide-both {
        .Vote--Previous {
            transform: translateY(-100%);
            opacity: 0;
        }

        .Vote--Current {
            transform: translateY(100%);
            opacity: 0;
        }
    }

    &.hide-previous {
        .Vote--Previous {
            max-height: 0;
            opacity: 0;
        }
    }

    &.current-to-previous {
        .Vote--Previous {
            max-height: 0;
            opacity: 0;
        }

        .Vote--Current {
            .Vote--Project_header {
                background: $vote-previous;
            }

            .Vote--Project_description {
                background: rgba($vote-previous, 0.4);
            }

            .Vote--Project_skip {
                max-height: 0;
            }
        }
    }

    &.switch-current-leave {
        .Vote--Current {
            transform: translateX(-100%);
            opacity: 0;
        }
    }

    &.switch-current-prepare-enter {
        .Vote--Current {
            transition: none;
            transform: translateX(100%);
        }
    }

    &.switch-current-enter {
        .Vote--Current {
            transform: translateX(0);
            opacity: 1;
        }
    }

    &.add-new-current {
        .Vote--Previous {
            transition: none;
        }

        .Vote--Current {
            opacity: 0;
            transition: none;
            transform: translateX(100%);
        }
    }

    &.show-new-current {
        .Vote--Current {
            opacity: 1;
            transition: all $animation-time ease;
            transform: translateX(0);
        }
    }
}

.Vote--Project {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    padding-bottom: $base-margin;
    min-height: 150px;

    &_header {
        display: flex;
        flex-direction: row;
        align-items: center;
        background: $vote-previous;
        padding: $base-margin;
        transition: all $animation-time ease;
    }

    &.current &_header {
        background: $vote-current;
    }

    &_header-label {
        font-weight: bold;
        text-transform: uppercase;
        margin: 0;
        margin-right: $base-margin;
    }

    &_header-name {
        flex: 1;
        margin: 0;
    }

    &_location {
        text-transform: uppercase;
        font-weight: bold;
        margin: 0;
        margin-left: $base-margin;
    }

    &_description {
        flex: 1;
        padding: $base-margin;
        background: rgba($vote-previous, 0.4);
        transition: all $animation-time ease;
        position: relative;
    }

    &_skip {
        margin: 0;
        text-decoration: underline;
        align-self: flex-end;
        transition: all $animation-time ease;
        max-height: 30px;
        overflow: hidden;
    }

    &.current &_description {
        background: rgba($vote-current, 0.4);
    }
}

.Vote--Bottom {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    height: 100px;

    &_title {
        text-align: center;
        margin: 0;
    }

    &_buttons {
        display: flex;
        flex-direction: row;
        margin: $base-margin 0;
    }

    &_separator {
        width: $base-margin;
        height: $base-margin;
    }

    &_button {
        flex: 1;
        justify-content: center;
        align-items: center;
        padding: $base-margin;
        display: flex;
        border: 3px solid rgba($vote-current, 0.4);
        background: rgba($vote-current, 0.2);
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            background: rgba($vote-current, 0.4);
        }

        &.previous {
            background: rgba($vote-previous, 0.2);
            border-color: rgba($vote-previous, 0.4);

            &:hover {
                background: rgba($vote-previous, 0.4);
            }
        }

        &-text {
            margin: 0;
        }

        &.skip {
            background: transparent;
            border: none;

            &:hover {
                background: none;
            }

            &-text {
                font-weight: normal;
                text-transform: none;
                text-decoration: underline;
            }
        }
    }

    &.loading {
        align-items: center;
    }
}

.Vote--Spinner {
    color: $turquoise;
}
