@import '../../../styles/base.scss';

.AdminLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.AdminLogin--title {
    text-align: center;
}

.AdminLogin--inner {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    max-width: 400px;
}

.AdminLogin--input {
    background: transparent;
    border: none;
    border-bottom: 1px solid $text-light;
    margin-top: $double-margin;

    &:focus {
        outline: none;
    }
}

.AdminLogin--error {
    @extend %Error--text;
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
}
