@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    font-family: 'Montserrat';
}

.Test--wrapper {
    padding: 20px;
}

.Test--section-wrapper {
    background: lightgray;
    margin-top: 20px;
    position: relative;
}

.Test--section-title {
    background: black;
    color: white;
    padding: 10px;
    font-size: 18px;
    margin: 0;
}

.Test--section-title.highlight {
    background: gray;
}

.Test--section-description {
    margin: 0;
    padding: 10px;
}

.Test--container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.input--inline {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
}

.Test--button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
}

.Test--submit-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    right: 0;
    outline: none;
    border: none;
    transition: all 0.2s ease;
}

.Test--submit-button:focus,
.Test--submit-button:hover {
    background: green;
    color: white;
}

.Test--input-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0px;
    height: 50px;
}

.Test--input-label {
    color: white;
    color: black;
    margin-right: 20px;
    font-weight: bold;
    width: 130px;
}

.Test--input {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.Test--request-preview-title {
    font-weight: bold;
    font-size: 20px;
}

.Test--request-preview-section {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.Test--request-preview-section .name {
    font-weight: bold;
    width: 130px;
    margin-right: 20px;
}

.Test--request-preview-url p {
    margin-right: 20px;
}

.Test--buttons-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
}

.Test--toolbar-button {
    background: rgba(255, 255, 255, 0.3);
    color: white;
    padding: 5px 10px;
    margin: 0 0 0 5px;
    font-size: 18px;
    cursor: pointer;
    user-select: none;
}

.Test--hidden {
    display: none;
}

.Test--method-post {
    font-weight: bold;
    background: orange;
    color: white;
    margin-right: 20px;
    padding: 3px 6px;
    border-radius: 2px;
}

.Test--method-get {
    font-weight: bold;
    margin-right: 20px;
    background: green;
    color: white;
    padding: 3px 6px;
    border-radius: 2px;
}

.Test--method-delete {
    font-weight: bold;
    margin-right: 20px;
    background: red;
    color: white;
    padding: 3px 6px;
    border-radius: 2px;
}
