@import '../../../styles/base';

.AdminEventList {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: $double-margin;

        .create-button {
            padding: $base-margin $double-margin;
            background: $snow;
            color: $black;
            border: none;

            &:hover,
            &:focus {
                outline: none;
                cursor: pointer;
            }
        }
    }
}
