.ProjectsTab--Track {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.ProjectsTab--Track_header {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}
