.CreateTeam--section {
    margin-bottom: 50px;
}

.CreateTeam--section-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.CreateTeam--team-members-header {
    background: #eeeeee;
    border-radius: 2px;
}

.CreateTeam--team-members-header-item {
    padding-top: 10px;
    padding-bottom: 10px;
}

.CreateTeam--add-member-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.CreateTeam--add-member-form .form-group {
    flex: 1;
    margin-right: 10px;
    margin-bottom: 0;
}

.CreateTeam--event-code-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.CreateTeam--event-code-form .form-group {
    flex: 1;
    margin-right: 10px;
    margin-bottom: 0;
}
