@import "../../../styles/base.scss";

.Home {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 1000px;
}

.Home--title {
    border-bottom: 4px solid $turquoise;
}

.Home--event {
    padding: $base-margin;
}

.Home--event_title {
    
    strong {
        color: $turquoise;
        margin-left: $base-margin;
        font-size: $fs-base;
    }
}
