@import '../../../styles/base.scss';

.ChallengePage {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 50px;
}

.ChallengePage--loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $double-margin;
}

.ChallengePage--spinner {
    color: $turquoise;
}

.ChallengePage--error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $double-margin;
}

.ChallengePage--error_title,
.ChallengePage--error_text {
    text-align: center;
}

.ChallengePage--title,
.ChallengePage--subtitle {
    text-align: center;
}

.ChallengePage--top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.ChallengePage--separator {
    width: 200px;
    height: 2px;
    margin: $base-margin 0 $double-margin 0;
    background: $turquoise;
}

.ChallengePage--Project {
    background: rgba($snow, 0.05);
    margin-top: $double-margin;
    display: flex;
    flex-direction: row;
    align-items: stretch;

    @include up-to-tablet {
        flex-direction: column;

        .ChallengePage--Project_left {
            width: 100%;

            .ChallengePage--Project_image {
                width: 100%;
                height: 240px;
            }
        }
    }
}

.ChallengePage--Project_left {
    position: relative;
}

.ChallengePage--Project_image {
    width: 200px;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.ChallengePage--Project_right {
  padding: $base-margin;
}

.ChallengePage--Project-name {
    color: $turquoise;
}

.ChallengePage--Form {
    margin-top: 50px;
}

.ChallengePage--Project-toggle-desc {
    color: $turquoise;
    cursor: pointer;
}