$lightgrey: #eeeeee;
$spring-green: #00ff99;
$snow: #fbfbfb;
$black: #232323;
$turquoise: #35e2df;
$spring-bud: #a8ff00;
$magenta: #ff33ff;

$error-red: rgba(255, 0, 0, 0.6);
$text-light: rgba($snow, 0.83);
